[Aa]ssets/AssetStoreTools*
[Bb]uilds/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
sysinfo.txt
*.pidb.meta
[Ll]ogs/
[Ll]ogs/*
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.lock
*.ide
*.ide-shm
*.ide-wal
*.log
.vs
.log
Compilled/
